@font-face {
    font-family: orangeKid;
    src: url(orange_kid.otf);
}

* {
    font-family: orangeKid;
}

#score {
    position: relative;
    left: 350px;
}

#score_container {
    background-color: limegreen;
    width: 800px;
}